<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- jquery: bootstrap, datepicker -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
    <!-- 내가 만든 외부 스타일시트 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/booking.css}">
</head>
<body>
    <div id="wrap">
        <header>
            <div class="head-logo display-3 text-center">통나무 펜션</div>
            <nav class="head-menu d-flex align-items-center">
                <ul class="nav nav-fill w-100">
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">패션소개</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">객실보기</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">예약안내</a></li>
                    <li class="nav-item"><a href="#" class="nav-link font-weight-bold">커뮤니티</a></li>
                </ul>
            </nav>
        </header>
        <section class="contents text-center">
        	<h1>예약 목록 보기</h1>
        	<table class="table" id="bookingTable">
				<thead>
					<tr>
						<th>이름</th>
						<th>예약날짜</th>
						<th>숙박일수</th>
						<th>숙박인원</th>
						<th>전화번호</th>
						<th>예약상태</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="booking : ${bookingList}">
						<td th:text="${booking.name}"></td>
						<td th:text="${#temporals.format(booking.date, 'yyyy년 M월 d일')}"></td>
						<td th:text="${booking.day}"></td>
						<td th:text="${booking.headcount}"></td>
						<td th:text="${booking.phoneNumber}"></td>
						<td>
							<span th:if="${booking.state == '대기중'}" class="text-info"  th:text="${booking.state}"></span>
							<span th:unless="${booking.state == '대기중'}" class="text-success"  th:text="${booking.state}"></span>
						</td>
						<td><button type="button" class="deleteBtn btn btn-danger" th:data-booking-id="${booking.id}">삭제</button></td>
					</tr>	
				</tbody>
			</table>
        </section>
        <footer class="copyright d-flex align-items-center">
            <div class="ml-3">
                <div><small>제주특별자치도 제주시 에월읍</small></div>
                <div><small>사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목</small></div>
                <div><small>Copyright 2024 tongnamu. All right reserved.</small></div>
            </div>
        </footer>
    </div>
    
    <script>
    	$(document).ready(function() {
    		$(".deleteBtn").on("click", function() {
    			let id = $(this).data("booking-id");
    			
    			$.ajax({
        			type:"delete"
        			, url:"/booking/delete-booking"
        			, data:{"id":id}
    				, success:function(data) {
    					if (data.code == 200) {
    						location.reload();
    					} else if (data.code == 500) {
    						alert(data.error_message);
    					}
    					
    				}
        		});
    		});
    		
    	});
    </script>
</body>
</html>