<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>북마크</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div id="wrap" class="container">
		<h1>즐겨찾기 추가하기</h1>
		<div class="form-group">
			<label for="name">제목</label>
			<input type="text" class="form-control" id="name">
		</div>
		<div class="form-group">
			<label for="url">주소</label>
			<div class="d-flex justify-content-between">
				<input type="text" class="form-control col-11" id="url">
				<button type="button" id="urlCheckBtn" class="btn btn-info">중복확인</button>
			</div>
			<small id="duplicatedText" class="text-danger d-none">중복된 URL 입니다.</small>
			<small id="availableText" class="text-success d-none">저장 가능한 URL 입니다.</small>
		</div>
		<input type="button" id="joinBtn" class="btn btn-success mt-2 btn-block" value="추가">
	</div>
	
	<script>
		$(document).ready(function() {
			$("#urlCheckBtn").on("click", function() {		
				let url = $("#url").val().trim();
				
				if (!url) {
					alert("주소를 입력하세요");
					return;
				}
				
				$.ajax({
					type:"post"
					, url:"/lesson06/quiz01/url-duplicate"
					, data:{"url":url}
					, success:function(data) {
						if (data.is_duplicate_url) {
							$("#duplicatedText").removeClass("d-none");
							$("#availableText").addClass("d-none");
						} else {
							$("#availableText").removeClass("d-none");
							$("#duplicatedText").addClass("d-none");
						}
					}
					, error:function(e) {
						alert("주소 중복확인에 실패했습니다.");
					}
				});
				
				
			});
			
			$("#joinBtn").on("click", function() {
				let name = $("#name").val().trim();
				let url = $("#url").val().trim();
				if (!name) {
					alert("사이트 이름을 입력하세요.");
					return;
				}
				if (!url) {
					alert("사이트 주소를 입력하세요.");
					return;
				}
				if (!url.startsWith("http://") 
						&& !url.startsWith("https://")) {
					alert("주소 형식이 잘못되었습니다.");
					return;
				}
				
				if ($("#availableText").hasClass("d-none")) {
					alert("주소 중복확인을 해주세요.");
					return;
				}
				console.log(name);
				console.log(url);
				
				$.ajax({ // 순서상관 없음
					// request 
					type:"post"
					, url:"/lesson06/quiz01/add-bookmark"
					, data:{"name":name, "url":url}
				
					// response - callback
					, success:function(data) { // AJAX 응답은 String => jquery의 함수가 JSON임을 알면 => dictionary
						if (data.code == 200) {
							location.href="/lesson06/quiz01/after-add-bookmark-view"
						} else {
							// 로직상 실패
							alert(data.error_message);
						}
					}
					, error:function(xhr, status, error) {
						alert("북마크 추가를 실패했습니다.");
					}
				})
				
			});
		});
	</script>
</body>
</html>